body {
  position: relative;
}
img{
  height: auto;
  width: 100%;
}


#home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../img/pole.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size: cover;
  height: 600px;
  padding-top: 50px;
}
.title1{
  font-family: 'Kaushan Script', cursive;
  font-size: 7em;
  font-weight: bolder;
  color: white;
  text-shadow: 0 0 10px #c0392b;
}
#Contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 570px;
  padding-top: 50px;

}
.box1{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 2px solid #3498db;

}

.box2{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 2px solid #3498db;
}
.info{
  color: #c0392b;
  font-family: 'Kaushan Script', cursive;
  font-size: 4em;
}
.p1{
  font-size: 1.5em;
}
#Barbers{
height: 1350px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}
.box25{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.title2{
  font-family: 'Kaushan Script', cursive;
  color: #c0392b;
  font-size: 4em;
}
.image1{
  height: 250px;
  width: 250px;
  margin-top: 20px;

}
.image1 img{
  width: 100%;
  height: auto;
  border-radius: 100%;
}
.name1{
 font-family: 'Kaushan Script', cursive;
 color: #3498db;
 font-size: 2.5em;
}

.icon1{
  margin-top: 20px;
}
.box4{
  margin-top: 30px;
}

#Services{
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
.fa{
  color: #333;
}
.title3{
  font-family: 'Kaushan Script', cursive;
  color: #c0392b;
  font-size: 3.5em;
  border-bottom: 2px solid #3498db;
}
.title4{
  font-family: 'Kaushan Script', cursive;
  color: #3498db;
  font-size: 2.5em;
  margin-top: 20px;
}
#portfolio{
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.appointments{
  font-family: 'Kaushan Script', cursive;
  color: #c0392b;
  font-size: 3.5em;
  margin-top: 50px;
  border-bottom: 2px solid #3498db;

}
.price1{
  font-family: 'Kaushan Script', cursive;
  color: #3498db;
  font-size: 2.5em;

}
.owl-item img{
    height:300px;
    width:100%;
}
.gallery{
  font-family: 'Kaushan Script', cursive;
  color: #333;
  font-weight: bold;
  font-size: 3em;
  padding-bottom: 20px;
}
.test{
  font-family: 'Kaushan Script', cursive;
  color: #3498db;
  font-size: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#owl-demo .item img{
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#bar{
  width: 0%;
  max-width: 100%;
  height: 4px;

}
#progressBar{
  width: 100%;

}
.footer{
  background: #c0392b;
  height: 200px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

/**
 * Media Queries
 **/
@media screen and (min-width: 320px) {
  .page::before{
    content: "320px";
    color: green;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
    margin: 5px;
    font-size: 2em;
  }
}
@media screen and (min-width: 480px) {
  .page::before {
    content: "480px";
    color: maroon;
  }
  #Barbers{
  height: 1200px;

  }
}
@media screen and (min-width: 620px) {
  .page::before {
    content: "620px";
    color: orange;
  }
  #home{
    height: 400px;

  }
  #Contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    padding-top: 50px;
    margin-top: -100px;


  }
  .box2{
    margin-top: 50px;
  }
  .image1{
    height: 250px;
    width: 250px;
    margin-top: 20px;

  }


}
@media screen and (min-width: 810px) {
  .page::before {
    content: "810px";
    color: black;
  }
  #Barbers{
  height: 900px;

  }
  .box25{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 1100px;


  }
  .A1{
    width: 750px;
    text-align: center;
  }

  .image1{
    height: 300px;
    width: 300px;
    margin-top: 20px;

  }
  .icon1{
    margin-top: -75px;
  }

#Services{
  height: 500px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;

}
.box25{
  margin-top: 50px;
}

.box6{
  margin-top: -225px;
}
img{
  height: auto;
  width: 100%;
}
.owl-item img{
    height:400px;
    width:100%;
    border: solid 5px black;
}
#owl-example {
width: 1000px;
height: 600px;
}

}


@media screen and (min-width: 1400px) {
  .container::before{
    content: "1400px";
    color: black;
  }

}
